funny_url/settings/dev.py
funny_url/settings/production-example.py
*.py[co]
.cache/
pip-log.txt
.noseids
tmp/*
*.swp
*~
*.log.*
*.log
*.db
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
whoosh_index/*
CACHE
CACHE/*
togit.sh
.idea/
media/
components/
static_templates/
*.sqlite3
assets/*
